body {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

header, footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.logo {
    font-size: 2em;
    margin-right: 1em;
}
